name: Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run tests with Gradle
        run: ./gradlew check --console=plain --no-daemon --info